apiVersion: v1
kind: ConfigMap
metadata:
  name: product-feedback-api-config
data:
  ASPNETCORE_HTTP_PORTS: "5185"
  ASPNETCORE_URLS: "http://+:5185"
  ConnectionStrings__OTLP_Endpoint: "http://my-collector-collector.monitoring.svc.cluster.local:4317"
  ConnectionStrings__SuggestionDBConnectionString: "${SQL_CONNECTION_STRING}"
  ConnectionStrings__RedisConnection: "redis://redis-master-external.redis:6379"
