apiVersion: v1
kind: ConfigMap
metadata:
  name: product-feedback-api-config
data:
  ASPNETCORE_HTTP_PORTS: "5185"
  ASPNETCORE_URLS: "http://+:5185"
  ConnectionStrings__OTLP_Endpoint: "http://my-collector-collector.monitoring.svc.cluster.local:4317"
  ConnectionStrings__SuggestionDBConnectionString: "${SQL_CONNECTION_STRING}"
  ConnectionStrings__RedisConnection: "redis-master.redis.svc.cluster.local:6379"
  Redis__UseTls: "true"
  Redis__Host: "redis-master.redis.svc.cluster.local"
  BlobStorage__ServiceUrl: "http://seaweedfs-filer.seaweedfs.svc.cluster.local:8333"
  BlobStorage__PublicUrl: "https://cdn.alexbartleynees.com"
  BlobStorage__BucketName: "user-profile-images"
